In [8]:
from backtesting import Strategy
from backtesting import Backtest
from indicators import ChannelBreakoutIndicator
import backtesting
import yfinance as yf
from tickers import my_tickers

backtesting.set_bokeh_output(notebook=True)
my_tickers

['ITC.NS', 'RELIANCE.NS']

In [9]:
class BreakOut(Strategy):
    initsize = 0.1
    mysize = initsize
    
    def init(self):
        super().init()
        self.signal = self.I(indObj.getSignal)

    def next(self):
        super().next()
        RRR = 1.5

        if self.signal=="BUY" and len(self.trades)==0:   
            # stoploss = prev candle LOW
            sl1 = self.data.Low[-2] 
            # target = LTP - stoploss * RRR
            tp1 = self.data.Close[-1] + abs(self.data.Close[-1]-sl1)*RRR
            # place BUY order
            self.buy(sl=sl1, tp=tp1, size=self.mysize)
        
        elif self.signal=="SELL" and len(self.trades)==0: 
            # stoploss = prev candle HIGH
            sl1 = self.data.High[-2]
            # target = LTP - stoploss * RRR
            tp1 = self.data.Close[-1] - abs(sl1-self.data.Close[-1])*RRR
            # place SELL order
            self.sell(sl=sl1, tp=tp1, size=self.mysize)

In [146]:
cbInd = ChannelBreakoutIndicator(df)
# cbInd.showIndicator(len(df), 30)
cbInd.setSignal(30)
cbInd.df

,Date,Open,High,Low,Close,Adj Close,Volume,isPivot,pivotMarker,isBreakout,breakoutMarker,Signal
Index,,,,,,,,,,,,
0,2018-07-02 00:00:00+05:30,267.000000,267.100006,260.049988,263.049988,218.012100,18097981,0,NaN,0,NaN,
1,2018-07-03 00:00:00+05:30,263.500000,266.750000,261.149994,265.450012,220.001205,10385004,0,NaN,0,NaN,
2,2018-07-04 00:00:00+05:30,266.299988,266.299988,262.200012,264.399994,219.130966,7881279,0,NaN,0,NaN,
3,2018-07-05 00:00:00+05:30,264.600006,273.799988,263.500000,272.500000,225.844147,15473199,0,NaN,0,NaN,
4,2018-07-06 00:00:00+05:30,272.750000,274.750000,270.149994,272.649994,225.968460,12936762,0,NaN,0,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
1228,2023-06-22 00:00:00+05:30,448.000000,449.649994,445.850006,447.649994,447.649994,6637099,0,NaN,0,NaN,
1229,2023-06-23 00:00:00+05:30,447.500000,447.649994,442.700012,444.750000,444.750000,6090901,0,NaN,0,NaN,
1230,2023-06-26 00:00:00+05:30,446.899994,451.399994,444.000000,445.700012,445.700012,5477339,0,NaN,0,NaN,
1231,2023-06-27 00:00:00+05:30,446.100006,447.200012,443.149994,445.100006,445.100006,4865596,0,NaN,1,447.605014,SELL
1232,2023-06-30 00:00:00+05:30,450.000000,451.950012,446.600006,451.600006,451.600006,9105041,0,NaN,0,NaN,